가상 환경

venv/
.venv/

Python 캐시

pycache/
*.pyc
*.pyo
*.pyd
*.zip
__pycache__/

환경 변수 파일
/data/
.env
/backend/FastAPI/.env
/backend/FastAPI/output_committee/
/backend/FastAPI/output_party/
/backend/FastAPI/data/
/backend/FastAPI/model_ai_learn/
/backend/FastAPI/output_bill/
VSCode 설정

.vscode/

macOS 시스템 파일

.DS_Store